@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Toastr Flash Example</h1>
    <p class="lead">Examples for the different uses of the MVC Toastr Flash package. This package uses the excellent 
        <a href="https://codeseven.github.io/toastr/">Toastr</a> library (<a href="http://nuget.org/packages/toastr">NuGet package</a>).</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Flash Without Redirect</h2>
        <p>Show a Toastr on a normal page load.</p>
        <p><a class="btn btn-default" href="@Url.Action("Show")">Go <span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div>
    <div class="col-md-6">
        <h2>Flash With Redirect</h2>
        <p>Load another controller action, Redirect, that redirects back to here with a Toastr notification.</p>
        <p><a class="btn btn-default" href="@Url.Action("Redirect")">Go <span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Stacking Messages</h2>
        <p>Load another controller action, StackedRedirect, that redirects back to here with three Toastr notifications.</p>
        <p><a class="btn btn-default" href="@Url.Action("StackedRedirect")">Go <span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div>
    <div class="col-md-6">
        <h2>Redirect Journey</h2>
        <p>Redirect journey: three redirects, two Toastr notifications.</p>
        <p><a class="btn btn-default" href="@Url.Action("RedirectJourney")">Go <span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div>
</div>