@{
    ViewBag.Title = "Show";
}
<div class="row">
    <p>This page is not really interesting.</p>
    <a href="@Url.Action("Index")" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span> Go Back</a>
</div>